<div class="row">
  <div class="col-xs-12">
    <h1><%= @tag.capitalize %> recipes</h1>
  </div>
</div>
<div class="row">
  <% if @errors %>
    <%= @errors[:message] %>
  <% else %>
    <% @recipes.each_slice(3) do |recipes| %>
      <div class="col-sm-3">
        <% recipes.each do |recipe| %>
          <div class="RecipeCard">
            <div class="row">
              <div class="col-xs-12">
                <%= link_to recipe_path(recipe.id) do %>
                  <%= image_tag recipe.image, class: 'img-responsive' %>
                <% end %>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 RecipeCard-description">
                <h4><%= recipe.title %></h4>
                <span class="pull-left">
                  <i class="fa fa-thumbs-up"></i> <%= recipe.aggregate_likes %>
                </span>
                <span class="pull-right">
                  <i class="fa fa-clock-o"></i> <%= recipe.ready_in_minutes %> min
                </span>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
