<% if @recipe.errors %>
  <%= @recipe.errors[:message] %>
<% else %>
  <div class="row">
    <div class="col-xs-12">
      <h1><%= @recipe.title %></h1>

    </div>
  </div>

  <div class="row">
    <div class="col-xs-4">
      <%= image_tag @recipe.image, class: 'img-responsive' %>

      <div class="Icon-container pull-right">
        <% if @recipe.gluten_free %>
          <i class="Icon Icon--default Icon-glutenFree"></i>
        <% end %>

        <% if @recipe.dairy_free %>
          <i class="Icon Icon--default Icon-dairyFree"></i>
        <% end %>

        <% if @recipe.vegetarian %>
          <i class="Icon Icon--default Icon-vegetarian"></i>
        <% end %>

        <% if @recipe.vegan %>
          <i class="Icon Icon--default Icon-vegan"></i>
        <% end %>

        <i class="Icon Icon--default Icon-clock"></i> <%= @recipe.ready_in_minutes %> min
      </div>
    </div>
    <div class="col-xs-4">
      <h5>Ingredients</h5>
      <% @recipe.ingredients.each do |ingredient| %>
        <%= ingredient.original_string %><br/>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h3>Instructions</h3>
      <% @recipe.instructions.each do |instruction| %>
        <%= instruction.number %> - <%= instruction.step %></br>
      <% end %>
    </div>
  </div>
<% end %>
