<h1><%= @recipe.title %></h1>
<%= image_tag @recipe.image %>
<br/>
Cheap: <%= @recipe.cheap %><br/>
Cooking Minutes <%= @recipe.cooking_minutes %><br/>
Dairy Free: <%= @recipe.dairy_free %><br/>
Gluten Free: <%= @recipe.gluten_free %><br/>
ID: <%= @recipe.id %><br/>
Ingredients: <%= @recipe.ingredients %><br/>
Instructions: <%= @recipe.instructions %><br/>
Preparation Minutes <%= @recipe.preparation_minutes %><br/>
Sustainable: <%= @recipe.sustainable %><br/>

Vegan: <%= @recipe.vegan %><br/>
Vegetarian: <%= @recipe.vegetarian %>
