<nav class="navbar Sidebar">
  <ul class="nav">
    <li class="Sidebar-item Sidebar-item--white <%= 'active' if @tag == 'all' %>">
      <%= link_to "All", root_path, class: "Sidebar-itemLink" %>
    </li>
    <li class="Sidebar-item Sidebar-item--pink <%= 'active' if @tag == 'gluten free' %>">
      <%= link_to "Gluten Free", root_path(query: { tags: 'gluten free' }), class: "Sidebar-itemLink" %>
    </li>
    <li class="Sidebar-item Sidebar-item--yellow <%= 'active' if @tag == 'dairy free' %>">
      <%= link_to "Dairy Free", root_path(query: { tags: 'dairy free' }), class: "Sidebar-itemLink" %>
    </li>
    <li class="Sidebar-item Sidebar-item--green <%= 'active' if @tag == 'vegetarian' %>">
      <%= link_to "Vegetarian", root_path(query: { tags: 'vegetarian' }), class: "Sidebar-itemLink" %>
    </li>
    <li class="Sidebar-item Sidebar-item--blue <%= 'active' if @tag == 'vegan' %>">
      <%= link_to "Vegan", root_path(query: { tags: 'vegan' }), class: "Sidebar-itemLink" %>
    </li>
  </ul>
</nav>
