<!DOCTYPE html>
<html>
<head>
  <title>BlogApi</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>
  <body>
    <%= render "layouts/sidebar" %>
    <div class="container">
      <div class="row">
        <div class="col-xs-offset-2 col-xs-10">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
